<div id="index-banner" class="parallax-container" style="height: 600px;">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <img src="images/climb2health-logo-white (1).png" id="logo"/>
      <div class="row center">
        <a href="/signup" class="btn-large waves-effect waves-light" id="getStarted">Get Started</a>
        <br><br>
        <a href="/login" class="btn-large waves-effect waves-light" id="logIn">Log In</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="images/volcanoes-691939.jpg"></div>
</div>
