<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/ " class="brand-logo"><img src="/images/climb2health-logo-white (1).png" alt="homepage" height="65px" /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </nav>
    {{{body}}}
</body>

</html>
