<div id="index-banner2" class="parallax-container" style="height:700px;">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <img src="images/climb2health-logo-white (1).png" id="logo"/>
      <div class="container center">
        <form class="col s8" action="/login" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Email" id="disabled" type="text" class="validate" name="email">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="password" id="password" type="password" class="validate" name="password">
            </div>
          </div>
          <button class="btn waves-effect waves-light pink darken-4" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
        </form>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="images/volcanoes-691939.jpg"></div>
</div>
