<div class="row">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Email" id="disabled" type="text" class="validate" name="email">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="password" id="password" type="password" class="validate" name="password">
      </div>
    </div>
    <button class="btn waves-effect waves-light pink darken-4" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
  </form>
</div>
