<div class="row" id="postCard">
    <div class="col s6 m5 card medium">
        <div>
            <form class="col s12" action="/posts" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Title" id="title" type="text" name="title">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Content" id="content" type="text" name="content">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Image url" id="image_url" type="text" name="image_url">
                    </div>
                </div>


                <button class="btn waves-effect waves-light" id="postSubmit" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light btn light-blue darken-3" href="/posts">Cancel</a>
            </form>

        </div>
    </div>
</div>
