<div class="container" id="createButton">
    <a href="/posts/new"><i class="material-icons">create</i></a> <p class="createPost">Create New Post</p>
</div>
<hr>
{{#each posts}}
<div class="posts row">

            <div class="col s3" id="image_div">
                <img src="{{image_url}}" alt="" / id="post_image">
            </div>
            <div class="col s9">
                <h2>{{title}}</h2>
                <p id="content">
                    {{content}}

                </p>
            </div>

<a id="settings"class="btn-floating btn-large waves-effect waves-light pink darken-4" href="posts/{{id}}"><i class="material-icons">settings</i></a>
</div>
    {{/each}}
