<div class="">
    {{#each posts}}

    <h3>{{title}}</h3>
    <p>
      User Id: {{user_id}}
    </p>
    <p>
        {{content}}
    </p>
    <img src="{{image_url}}" alt="" />
    {{/each}}
</div>
