<body background="images/climb2health-logo-white (1).png">

<div id="index-banner1" class="parallax-container" style="height: 800px;">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <img src="images/climb2health-logo-white (1).png" id="logo"/>
    <div class="container">
      <form class="col s8" action="/signup" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="First Name" name="first_name" id="first_name" type="text" class="validate">
          </div>
          <div class="input-field col s6">
            <input placeholder="Last Name" id="last_name" type="text" name="last_name">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Username" id="username" type="text" name="username">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Email" id="disabled" type="text" class="validate" name="email">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="password" id="password" type="password" class="validate" name="password">
          </div>
        </div>
        <button class="btn waves-effect waves-light pink darken-4" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
      </form>
    </div>
    <br><br>
  </div>
</div>
<div class="parallax"><img src="images/volcanoes-691939.jpg"></div>
</div>
</body>
