.nav-wrapper {
    background-color: #424242;
    font-family: 'Londrina Solid', cursive;
}

#logIn {
    background: #424242;
    width: 400px;
    opacity: .7;
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
}

#getStarted {
    width: 400px;
    background-color: #880e4f;
    font-family: 'Londrina Solid', cursive;
    font-size: 25px;
}

.parallax-container {
    text-align: center;
    height: 800px;
}

#logo {
    height: 200px;
    width: 350px;
}

#postSubmit, #file {
    background-color: #880e4f
}

#post_image {
    width: 100%;
}

body {
    font-family: 'Londrina Solid', cursive;
}

#settings {
    float: right;
}

#createButton {
    text-align: right;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 55px;
}
